nav {
  font-family: AirbnbCerealXBd;
}

.rausch {
  color: #FF5A5F;
}

.nav-container {
  @apply mx-auto py-4 flex items-center justify-between px-16;
}

.search-bar {
  @apply flex items-center border-2 rounded-full px-4 py-1 cursor-pointer;
}

.separator {
  @apply mr-1 pr-2;
  border-right: 1px solid gray;
}

.how-many {
  @apply mr-1;
  font-family: AirbnbCerealLight;
}

.mglass-icon {
  @apply h-8 w-8 flex items-center rounded-full relative;
  left: 10px;
  background-color: #FF5A5F;
}

.bg-gray {
  background-color: gray;
}

.options-container {
  @apply rounded-full border-2 py-1 flex items-center cursor-pointer;
}