footer {
  font-family: AirbnbCerealXBd;
}

.footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 13%;
}

.row {
  justify-content: space-between;
}

.col-md-6 {
  display: inline-block; 
  vertical-align: middle; 
  width: 50%;
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}