footer {
  font-family: AirbnbCereal_W_Bd;
}

.footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -68px;
  padding-top: 3%;
  padding-bottom: 1%;
}

.row {
  justify-content: space-between;
  border-top: 1px solid #000000;
  border-color: rgb(189, 189, 189);
  padding-left: 3%;
}

.col-md-6 {
  display: inline-block; 
  vertical-align: middle; 
  width: 50%;
}

.data-f-1 {
  justify-content: flex-end; 
  padding-top: 10px;
  font-size: 1em;
  word-spacing: 0.2em;
}

.data-f-2 {
  justify-content: flex-end; 
  padding-top: 10px;
  padding-right: 10%;
  word-spacing: 0.2em;
  vertical-align: middle;
}

.up-icon {
  margin-right: 15px;
}

/* push test */